# code editors
/.idea

# dependencies
/node_modules
/client/node_modules
/.pnp
.pnp.js

# bun
bun.lock
bun.lockb
/client/bun.lock
/client/bun.lockb
/client/package-lock.json

# generated
/server/migrations/index.js
/server/integrations/index.js
/server/clientEmbed.js

# production
/build
/data
/bin
/MySpeed
/MySpeed.exe

# docs
/docs/.vitepress/dist
/docs/.vitepress/cache