@use "@/common/styles/colors" as *

.consistency-container
  display: flex
  flex-direction: column
  gap: 1.25rem
  justify-content: center
  width: 100%

.consistency-item
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0.25rem 0

.consistency-item svg
  width: 2.25rem
  height: 2.25rem

.consistency-item .consistency-info h2
  color: $white
  margin: 0
  font-size: 0.95rem
  font-weight: 600

.consistency-item .consistency-info p
  margin: 0
  font-weight: 600

.consistency-item .consistency-info .consistency-detail
  color: $subtext
  font-size: 0.75rem
  font-weight: 500
  display: block
  margin-top: 0.25rem
