@use "@/common/styles/colors" as *

.create-node-dialog
  .dialog-main
    display: block

.server-dialog
  margin: 0.75rem 0.5rem 0.5rem
  display: flex
  flex-direction: column
  gap: 0.75rem

.server-group
  display: flex
  flex-direction: column
  gap: 0.4rem

.server-label
  display: flex
  align-items: center
  gap: 0.5rem

  svg
    color: $green
    font-size: 1rem

  h3
    margin: 0
    font-size: 0.95rem
    color: $green

.server-input
  margin: 0 !important
  text-align: left

.server-error
  .server-input
    border-color: $red