@use "@/common/styles/colors" as *

.info-container
  display: flex
  flex-direction: column
  gap: 1.75rem
  justify-content: center
  width: 100%

.test-container
  display: flex
  justify-content: space-between
  align-items: center

.test-container svg
  width: 2.5rem
  height: 2.5rem

.test-container .test-info h2
  color: $white
  margin: 0
  font-size: 1rem
  font-weight: 600

.test-container .test-info p
  margin: 0
  font-weight: 600
  font-size: 1.1rem